* {
  margin: 0;
  padding: 0;
  list-style: none;
}

// 底部第一部分的css
.warp_bottomTop {
  width: 100%;
  height: 253px;
  background: #f7f7f7;
  border-top: 2px solid #e7e7e7;
  border-bottom: 2px solid #3ea600;
}
.bottomTop_con {
  width: 1102px;
  height: 251px;
  // background: pink;
  margin: 0 auto;
}
.bottom_cont {
  width: 159px;
  height: 251px;
  // background: lightblue;
  float: left;
}
.bottom_bord {
  width: 1px;
  height: 78px;
  float: left;
  background: #e9e9e9;
  margin-top: 57px;
}
.bottom_cont1 {
  width: 144px;
  height: 211px;
  float: left;
  // background: lightblue;
  padding-left: 69px;
  padding-top: 40px;
  cursor: pointer;
}
.bottom_cont {
  width: 143px;
  height: 211px;
  float: left;
  // background: lightblue;
  padding-left: 16px;
  padding-top: 40px;
  cursor: pointer;
}

.bottomTop_con h3 {
  font-size: 16px;
  color: #606060;
  line-height: 36px;
  cursor: pointer;
}
.bottomTop_con li {
  font-size: 12px;
  color: #989898;
  line-height: 24px;
}
.bottomTop_con h3:hover {
  color: #c70019;
  text-decoration: underline;
}

.bottomTop_con li:hover {
  color: #8cb91e;
  text-decoration: underline;
}
.bottom_cont2:hover {
  cursor: default;
}

// 底部第二部分
.warp_bottomBot {
  width: 100%;
  height: 202px;
  // background: #999999;
}
.warp_bottomBot1 {
  width: 1103px;
  height: 202px;
  margin: 0 auto;
  background: #fff;
}
.warp_bottomB1 {
  width: 1103px;
  height: 72px;
  // background: #cccccc;
}
.warp_bottomB2 {
  width: 1103px;
  height: 130px;
  background: #eee;
}
.warp_bottomB1 ul {
  margin-left: 7px;
}
.list_bott,
.list_botRed {
  padding-left: 18px;
  padding-right: 18px;
  text-align: center;
  line-height: 72px;
  font-size: 12px;
  color: #606060;
  float: left;
  // border-right: 1px solid #999999;
  // background: pink;
  cursor: pointer;
}
.list_botRed {
  color: #c30000;
  cursor: default;
}
.list_botborder {
  width: 1px;
  height: 11px;
  background: #999;
  margin-top: 32px;
  float: left;
}
.list_bott:hover {
  text-decoration: underline;
}
